.banner-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
}
.banner-thumb {
  width: 50%;
  height: 100vh;
  text-align: center;
  background-color: #436073;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-desc {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ecf4f9;
  padding: 0 12rem;
}
.banner-title {
  color: #fc916a;
}
.desc-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (max-width: 576px) {
  .banner-container {
    flex-direction: column;
    height: auto;
    gap: 0;
  }
  .banner-thumb {
    width: 100%;
    height: auto;
  }
  .banner-img {
    padding: 10px;
    height: 261px;
    width: 204px;
  }
  .banner-desc {
    width: 100%;
    height: auto;
    padding: 2rem;
  }
  .desc-container {
    gap: 1rem;
  }
}
